.scoreboard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px #8888;
    width: 25%;
    border-radius: 10px;
    margin: 3rem auto;
    font-weight: bold;
    font-size: 22px; 
}
.x-score{
    width: 100%;
    padding: 15px;
    color: red;
}
.o-score{
    width: 100%;
    padding: 15px;
}
.oplay{
    border-bottom:3px solid black;
}
.xplay{
    border-bottom:3px solid red;
}